# Google Search Console Service Account Credentials
GSC_CLIENT_EMAIL="seo-dashboard@search-console-32418888.iam.gserviceaccount.com"
GSC_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GSC_SITE_URL="sc-domain:interiorsbydex.com"
